<link rel="shortcut icon" type="image/x-icon" href="img/logo2.ico"/>
<div class="container mt-5 mb-5">
    <div class="row row-cols-auto justify-content-center g-5">
        <img class="card-img-top" src=img/logo.png
        style= "margin:auto;
        order:1;

        max-width:500px;
        max-height:500px;
        width:auto;
        height:auto"
        alt="Logo">
    </div>

<div class="container mt-5 mb-5">
    <div class="row row-cols-auto justify-content-center g-5">
        {{homeContent}}
    </div>
</div>
<div class="card" style="width: 18rem;"><br>
    <img class="card-img-top" src='img/bonerosa.jpg'alt="Produto">
    <div class="card-body">
      <h4 class="card-title">Boné</h4>
      <h6 class="card-text">Valor: R$ 20,00</h6>
      <h6 class="card-text">Cor: Rosa</h6>
      <a href="#" class="btn btn-secondary">Comprar</a><br>
    </div>
 </div>

